/*Restyled Blue For Testing Purposes*/

table.redTable {
  border: 2px solid #000059;
  background-color: #BFBFFE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: Arial;
}
table.redTable td, table.redTable th {
  border: 1px solid #4D4D80;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #8080FE;
}
table.redTable thead {
  background: #000059;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #000059;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #000059;
}
table.redTable tfoot td {
  font-size: 13px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #000059;
  padding: 2px 8px;
  border-radius: 5px;
}